{% extends 'layouts/master.html' %}

{% load i18n static %}


{% block content %}
<div class="page-heading">
    <h3>{% trans 'Profile Statistics' %}</h3>
</div>
<div class="page-content">
    <section class="row">
        
        {% if messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
                
        </div>            
        {% endif %}
            
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon purple mb-2">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <h6 class="text-muted font-semibold">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hdd" viewBox="0 0 16 16">
                                        <path d="M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"></path>
                                        <path d="M16 11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9.51c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198V11zM3.655 4.26 1.592 8.043C1.724 8.014 1.86 8 2 8h12c.14 0 .276.014.408.042L12.345 4.26a.5.5 0 0 0-.439-.26H4.094a.5.5 0 0 0-.44.26zM1 10v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"></path>
                                      </svg>
                                          {% trans 'Free space' %}</h6>
                                    <h6 class="font-extrabold mb-0">0</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon blue mb-2">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <h6 class="text-muted font-semibold">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-binary" viewBox="0 0 16 16">
                                            <path d="M7.05 11.885c0 1.415-.548 2.206-1.524 2.206C4.548 14.09 4 13.3 4 11.885c0-1.412.548-2.203 1.526-2.203.976 0 1.524.79 1.524 2.203zm-1.524-1.612c-.542 0-.832.563-.832 1.612 0 .088.003.173.006.252l1.559-1.143c-.126-.474-.375-.72-.733-.72zm-.732 2.508c.126.472.372.718.732.718.54 0 .83-.563.83-1.614 0-.085-.003-.17-.006-.25l-1.556 1.146zm6.061.624V14h-3v-.595h1.181V10.5h-.05l-1.136.747v-.688l1.19-.786h.69v3.633h1.125z"></path>
                                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"></path>
                                          </svg>
                                        {% trans 'Total files' %}</h6>                                    
                                    <h6 class="font-extrabold mb-0">{{ count_files_for_user }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dropdown text-center">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuUpload" data-bs-toggle="dropdown" aria-expanded="false">
                                  {% trans 'Upload' %}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuUpload">
                                  <li><a class="dropdown-item" href="{% url 'storage:file_upload' %}">{% trans 'File' %}</a></li>
                                </ul>
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuCreate" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% trans 'Create' %}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuCreate">
                                    <li><a class="dropdown-item" href="">{% trans 'Create File' %}</a></li>
                                </ul>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-binary" viewBox="0 0 16 16">
                                <path d="M7.05 11.885c0 1.415-.548 2.206-1.524 2.206C4.548 14.09 4 13.3 4 11.885c0-1.412.548-2.203 1.526-2.203.976 0 1.524.79 1.524 2.203zm-1.524-1.612c-.542 0-.832.563-.832 1.612 0 .088.003.173.006.252l1.559-1.143c-.126-.474-.375-.72-.733-.72zm-.732 2.508c.126.472.372.718.732.718.54 0 .83-.563.83-1.614 0-.085-.003-.17-.006-.25l-1.556 1.146zm6.061.624V14h-3v-.595h1.181V10.5h-.05l-1.136.747v-.688l1.19-.786h.69v3.633h1.125z"></path>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"></path>
                              </svg>
                                {% trans 'Files' %}</h4>
                        </div>
                        <div class="card-body"> 

                            {% if files_for_user %}
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>{% trans "Name" %}</th>
                                            <th>{% trans "Size" %}</th>
                                            <th>{% trans "Timestamp" %}</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user_file in files_for_user %}
                                        <tr>

                                            <td class="col-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-md">
                                                        <img src="" class="img-thumbnail" heigth="35px" width="35px" alt="{{ user_file.filename }}">
                                                    </div> 
                                                </div>
                                            </td>
                                            <td>
                                                <p class="font-bold ms-3 mb-0"><a href="{{user_file.file.url}}" alt="{{user_file.file}}">{{ user_file.name }}</a></p>
                                            </td>
                                            <td class="col-auto">
                                                <p class="mb-0">{{ user_file.get_file_size }} </p>
                                            </td>
                                            <td class="col-auto">
                                                <p class="mb-0">{{ user_file.timestamp }}</p>
                                            </td>
                                            <td>
                                                <a href="" class="btn btn-primary">
                                                    <i class="">
                                                        {% trans "Detail" %}
                                                    </i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="" class="btn btn-warning">
                                                    <i class="">
                                                        {% trans "Delete" %}
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                {% else %}                        
                            <p class="card-subtitle text-muted text-center"> {% trans 'You have no files yet!' %}</p>    
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-4">
                    <div class="d-flex align-items-center">
                        <div class="ms-3 name">
                            <h5 class="font-bold"><a href="{% url 'accounts:profile' %}"><i class="bi bi-person"></i>
                                {{ request.user.username }}</a></h5>
                            <h6 class="text-muted mb-0"><i class="bi bi-envelope"></i>
                                {{ request.user.email }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    
                    <h4>                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"></path>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                        </svg>
                            {% trans 'Keys'%}
                        
                        </h4>

                </div>
                <div class="card-content pb-4"> 
                     
                  <div class="recent-message d-flex px-4 py-3">
                        <div class="name ms-4">
                            <h5 class="mb-1"></h5>
                            <h6 class="text-muted mb-0"><a href="{% url 'accounts:keys' %}"></a></h6>
                        </div>   
                    </div>

                    <div class="recent-message d-flex px-4 py-3">
                        <div class="name ms-4">
                            <a href="{% url 'accounts:keys' %}">{{ key_pair_for_user.user.email }}</a>
                        </div>   
                    </div>

                    <div class="px-4">
                        <!-- TODO: delete this -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
    